html {
    box-sizing: border-box;
}

@media screen and (min-device-width:768px) {
    .abc {
        height: 100vh;
        width: 100%;
    }
    .mform {
        margin-top: auto;
        margin-bottom: auto; 
    }
}

.mform {
    margin-top: auto;
    margin-bottom: auto;
}