
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="container text-center mt-5">
            <p class="h1 text-center">No Mission Found</p>
        <button type="submit" class="btn btn-outline-danger   rounded-pill mt-5 "> Submit New Mission <i class="bi bi-arrow-right text-danger"></i> </button>

        </div>